<h1>Overview</h1>

<p>VotEZ is a web application that serves to deliver a simple yet manageable service for creating polls and voting on them. With the addition of account creation, VotEZ is dedicated to providing a secure experience to its users as they conduct polls. Each poll is created by a registered user and generates an access code which can be shared with other users to limit votes from unintended parties. In addition, users may only vote on a specific poll once, and can view the previous polls they’ve voted on. VotEZ aims to keep the practice of voting simple, and providing its users the utmost of resources to utilize.</p>

<h2>Features</h2>
<h3>Account creation</h3>
<p>Accounts will be set as users by default</p>
<h3>Create polls</h3>
<p>Non-users will be unable to create polls without logging in/creating an account</p>
<h3>Poll access validation</h3>
<p>Created polls generate access codes which need to be entered before viewing them/voting on them</p>
<h3>Poll Voting</h3>
<p>Users can only vote on a poll once</p>
<h3>Poll History</h3>
<p>Users can view polls they have voted on, as well as polls they’ve created</p>
