h1{
    text-align: center;
    color: ghostwhite;
}
h2 {
    text-align: center;
    color: ghostwhite;
}
h3{
    text-align: center;
    color: ghostwhite;
}
p{
    text-align: center;
    color: ghostwhite;
}