<div *ngIf="poll" class="container transparent">

    <h2>Poll Details</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>Question: </td>
                <td>{{poll.question}}</td>
            </tr>
            <tr>
                <td>Code: </td>
                <td>{{poll.code}}</td>
            </tr>
            <tr>
                <td>Date To Close</td>
                <td>{{poll.dateToClose}}</td>
            </tr> 
            <tr>
                <td>Creator: </td>
                <td>{{poll.email}}</td>
            </tr>
            <tr>
                <td>Option 1: </td>
                <td>{{poll.pollchoice.option1}}</td>
            </tr>
            <tr>
                <td>Option 2: </td>
                <td>{{poll.pollchoice.option2}}</td>
            </tr>
            <tr>
                <td>Option 3: </td>
                <td>{{poll.pollchoice.option3}}</td>
            </tr>
        </tbody>
        <button (click)="back()">Return</button>
    </table>
</div>