<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand title" routerLink="">VotEZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"[routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
                </li>
                <li class="nav-item" *ngIf="adminvalue">
                    <a class="nav-link"[routerLink]="['/manage-polls']" [routerLinkActive]="['active']">Admin</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/create-poll']" [routerLinkActive]="['active']">Create Poll</a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/access-poll']" [routerLinkActive]="['active']">Vote</a>
                   </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated$ | async;">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>History</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <a ngbDropdownItem [routerLink]="['/your-polls']" [routerLinkActive]="['active']">View Polls You've Created</a>
                            <a ngbDropdownItem [routerLink]="['/your-poll-history']" [routerLinkActive]="['active']">View Polls You've Voted On</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span *ngIf="auth.user$ | async as user" class="nav-link d-flex">{{user.email}}</span>
        <app-auth></app-auth>
    </div>
</nav>